main {
  background-color: hsl(226, 43%, 10%);
  color: hsl(235, 45%, 61%);
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  height: 100vh;
}

p {
  color: hsl(236, 100%, 87%);
  margin: 0;
  font-size: 14px;
}

h1 {
  color: white;
  font-weight: 300;
  margin: 0;
  font-size: 24px;
}

h2 {
  font-weight: 300;
}

.container-sm {

}

.profile {
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
}

.profilePic {
  border: solid;
  border-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.timeOptions {
  background-color: hsl(235, 46%, 20%);
  border-radius: 0 0 25px 25px;
}

.attribution {
  margin: 0;
}