main {
  background-color: hsl(226, 43%, 10%);
  color: hsl(235, 45%, 61%);
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  height: 100vh;
  display: flex;
}

p {
  color: hsl(236, 100%, 87%);
  margin: 0;
  font-size: 14px;
}

h1 {
  color: white;
  font-weight: 300;
  margin: 0;
  font-size: 24px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

/* .container-sm {

} */

.profile {
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
  padding: 1rem;
}

.profilePic {
  border: solid;
  border-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.one {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 0 14px;
}

.two {
  background-color: hsl(15, 100%, 70%);
  border-radius: 15px;
}

.info {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 0 14px;
}

.attribution {
  margin: 0;
}