main {
  background-color: hsl(226, 43%, 10%);
  color: hsl(235, 45%, 61%);
}

p {
  color: hsl(235, 45%, 61%);

}

h1 {
  color: hsl(236, 100%, 87%);
}

.profile {
  background-color: hsl(246, 80%, 60%);
  border-radius: 25px;
  padding: 5vh;
}

.profilePic {
  border: solid;
  border-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.timeOptions {
  background-color: hsl(235, 46%, 20%);
  border-radius: 25px;
}

.attribution {
  margin: 0;
}